openai>=1.0.0
pinecone
pandas
tmdbsimple
tqdm
fastapi
uvicorn
python-dotenv
fastapi-cors
requests
faster-whisper
python-multipart
ffmpeg-python
sentence-transformers==2.*
faiss-cpu
srt
rapidfuzz==3.* 
kaggle==1.7.4.5
numpy